.cal_container {
    text-align: center;
    margin-top: 10rem;
}

input {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border: none;
    background-color: rgb(235, 168, 81);
    cursor: pointer;
    margin-bottom: .2rem;
}
input:hover {
    background-color: aliceblue;
}
#result {
    width: 9.2rem;
    background-color: rgb(186, 190, 194);
}
#result:focus {
    outline: none;
}
.top {
    margin-bottom: .2rem;
}
.clear{
    background-color: rgba(194, 212, 90, 0.822);
}

#equle {
    background-color: rgb(33, 100, 100);
}
